/* variables */
$navy-color: #000972;
$mint-color: #63FEBA;
$pink-color: #FF79AC;
$yellow-color: #FFF780;
$blue-color: #669AFF;
$purple-color: #8854F4;
$orange-color: #FF8E58;
$border-color: #BDBDBD;
$text-color: #333333;
