/* variables */
/* common */
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
  font-family: "Galmuri9";
  font-weight: 500;
  font-size: 10px;
  box-sizing: border-box;
}



.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body, header, main, img, p, h1, h2, h3, button, ul, li {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
}

ul li {
  list-style: none;
}

input {
  border: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

body {
  background: #EAE8FE;
}

/* ------------------------------- header */
header {
  text-align: center;
  margin-bottom: 67px;
}
header img {
  max-width: 386px;
}

/* ------------------------------- main */
main {
  width: 750px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
main section {
  background: #84ADFC;
  flex-basis: 360px;
  flex-shrink: 0;
}

/* ------------------------------- section: vending */
.section-vending {
  padding: 31px 27px 28px;
}

.list-drink {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.list-drink button {
  position: relative;
  background: #E6F1F4;
  box-shadow: 4px 4px 0px #4D79CC;
  padding: 11px 12px 9px;
  overflow: hidden;
}
.list-drink button.active {
  background: #FFF7BA;
  outline: 3px solid #E745FA;
}
.list-drink button.active .display-circle {
  background: #E745FA;
}
.list-drink button:not(.soldout):hover {
  outline: 3px solid #E745FA;
}
.list-drink button:not(.soldout):active {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.list-drink img {
  width: 40px;
  margin: 10px;
}
.list-drink .drink-amount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
  color: grey;
}
.list-drink .drink-name {
  font-size: 10px;
  font-weight: bold;
  color: #361588;
}
.list-drink .drink-price {
  display: inline-block;
  font-size: 12px;
  color: white;
  background: #361588;
  padding: 3px 7px;
  margin-top: 7px;
}
.list-drink .drink-price .display-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px 2px 0;
  background: #45F9FF;
}
.list-drink .soldout-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.list-drink .soldout-text span {
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 20%;
  width: 55px;
  font-size: 14px;
  color: #E6F1F4;
  border: 6px double #E6F1F4;
  transform: rotate(-18deg);
}
.list-drink button.soldout {
  cursor: initial;
}
.list-drink button.soldout .display-circle {
  background-color: #969696;
}
.list-drink button:not(.soldout) .soldout-text {
  display: none;
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 11px 12px;
  padding-top: 20px;
}
.counter-wrapper * {
  font-size: 13px;
}
.counter-wrapper .inserted {
  border: 3px solid #361588;
  background: #7883FE;
  color: #361588;
  padding: 5px 10px;
  font-size: 14px;
}
.counter-wrapper > button {
  background: #361588;
  color: #E6F1F4;
}
.counter-wrapper > button:hover {
  box-shadow: #6327FE 0px 0px 0px 3px;
  transition: box-shadow 0.3s;
}
.counter-wrapper .input-payment {
  border: 3px solid #E745FA;
  background: #FFF7BA;
  padding: 6px 10px 7px;
  color: #361588;
}
.counter-wrapper .input-payment::-moz-placeholder {
  color: #8576AB;
}
.counter-wrapper .input-payment::placeholder {
  color: #8576AB;
}
.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E6F1F4;
  border-radius: 5px;
  padding: 6px 10px 6px 8px;
}
.cart-item:not(:first-child) {
  margin-top: 6px;
}
.cart-item img {
  width: 18px;
  aspect-ratio: 18px/25px;
}
.cart-item .drink-name {
  font-size: 9px;
  color: #361588;
}
.cart-item .drink-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 3px;
  background: #F79AD3;
  color: #361588;
  border: 3px solid #FE68B0;
  border-radius: 5px;
}

.counter-wrapper .btn-gain {
  background: #5208CB;
}

.list-currentCart {
  height: 106px;
  background: #FE68B0;
  border: 3px solid #7155A0;
  padding: 12px;
  overflow-y: auto;
}
.list-currentCart .cart-item {
  position: relative;
}
.list-currentCart .cart-item img {
  padding: 3px 0;
}
.list-currentCart .cart-item::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #E6F1F4;
  opacity: 0.5;
  border-radius: 5px;
}
.list-currentCart .btn-sub, .list-currentCart .btn-add, .list-currentCart .btn-remove {
  display: none;
  position: absolute;
  background: #FE68B0;
  width: 20px;
  height: 20px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
  z-index: 10;
  line-height: 8px;
  padding-left: 1px;
  color: #E6F1F4;
}
.list-currentCart .btn-sub {
  left: 40px;
}
.list-currentCart .btn-sub:hover {
  background: #BDBDBD;
}
.list-currentCart .btn-add {
  right: 40px;
}
.list-currentCart .btn-add:hover {
  background: #BDBDBD;
}
.list-currentCart .btn-remove {
  right: -5px;
  top: -5px;
  padding-bottom: 3px;
  background: #6327FE;
  color: #FFF7BA;
}
.list-currentCart .btn-remove:hover {
  background: #32157b;
}
.list-currentCart .cart-item:hover .drink-count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.list-currentCart .cart-item:hover::after {
  display: inline-block;
}
.list-currentCart .cart-item:hover .btn-sub, .list-currentCart .cart-item:hover .btn-add, .list-currentCart .cart-item:hover .btn-remove {
  display: inline-block;
}
.list-currentCart::-webkit-scrollbar {
  height: 0px;
  width: 10px;
}
.list-currentCart::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

/* ------------------------------- section: reciept */
.section-reciept {
  padding: 20px 25px 25px;
  height: 100%;
}
.section-reciept .possessed {
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 3px solid #3E68B9;
}
.section-reciept .possessed * {
  font-size: 14px;
}
.section-reciept .possessed p {
  color: #361588;
  background: #FFF7BA;
  padding: 6px 10px;
}
.section-reciept .possessed span {
  float: right;
  font-weight: 700;
}

.gain-wrapper h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  background: #361588;
  color: #E6F1F4;
  margin-bottom: 10px;
}
.gain-wrapper .list-finalCart {
  background: #FE68B0;
  border: 3px solid #7155A0;
  padding: 12px;
  overflow-y: auto;
  min-height: 380px;
}
.gain-wrapper .list-finalCart::-webkit-scrollbar {
  height: 0px;
  width: 10px;
}
.gain-wrapper .list-finalCart::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.gain-wrapper .total-price {
  padding-top: 6px;
  float: right;
}
.gain-wrapper .total-price, .gain-wrapper .total-price span {
  color: #361588;
  font-size: 12px;
}

/* ------------------------------- media-mobile */
@media (max-width: 749px) {
  body {
    background: white;
  }
  header {
    margin-bottom: 18px;
  }
  header img {
    width: 166px;
  }
  main {
    flex-direction: column;
    width: 360px;
  }
  main .gain-wrapper {
    padding-bottom: 69px;
  }
}
/* ------------------------------- article:modal */
.modal-wrapper {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
}

.modal-wrapper.on {
  display: block;
}

.article-modal {
  top: 35%;
  left: calc(50% - 150px);
  width: 300px;
  border: 2px solid #BDBDBD;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  background: white;
}
.article-modal h2 {
  padding: 10px;
  border-bottom: 2px solid #BDBDBD;
  background: #EAE8FE;
  color: grey;
  font-size: 15px;
}
.article-modal p {
  padding: 10px;
  color: grey;
}
.article-modal button {
  margin-top: 20px;
  background: #6327FE;
  color: white;
  padding: 8px 10px;
  width: 70px;
  border-radius: 5px;
}
.article-modal .btn-cancel {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */