/* variables */
/* common */
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
  font-family: "Galmuri9";
  font-weight: 500;
  font-size: 10px;
  box-sizing: border-box;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body, header, main, img, p, h1, h2, h3, button, ul, li {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
}

ul li {
  list-style: none;
}

input {
  border: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

body {
  background: #FF79AC;
}

/* ------------------------------- start screen animations */
@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move-coin {
  to {
    background-position: right 0;
  }
}
/* ------------------------------- header */
header {
  padding: 40px 0;
  position: fixed;
  background: #FF79AC;
  z-index: 20;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease;
}
header h1 img {
  width: 750px;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 3px 3px 0px #000972;
}
header h2 img {
  width: 500px;
  box-shadow: none;
  animation: blinking 1s ease-in-out infinite alternate;
  padding-top: 50px;
}
header .slot-wrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
}
header .slot-wrapper div {
  width: 54px;
  height: 54px;
  background: url("../img/coin.png") no-repeat 0 0/auto 100%;
  animation: move-coin 0.8s infinite steps(5);
}
header .slot-wrapper div:nth-child(2) {
  animation-delay: 0.3s;
}
header .slot-wrapper div:nth-child(3) {
  animation-delay: 0.6s;
}
header .slot-wrapper div:nth-child(4) {
  animation-delay: 0.9s;
}
header .slot-wrapper div:nth-child(5) {
  animation-delay: 1.2s;
}

/* ------------------------------- main */
main {
  width: 750px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 40px;
}
main section {
  flex-basis: 360px;
  flex-shrink: 0;
}

/* ------------------------------- section: vending */
.section-vending {
  border: 2px solid #000972;
  box-shadow: 4px 4px 0 #000972, 0px 4px 0 inset #63FEBA, 4px 0 0 inset #8854F4;
  background: white;
  padding: 31px 27px 28px;
}

.list-drink {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.list-drink button {
  position: relative;
  border-radius: 10px;
  background: #FFF780;
  border: 1px solid #000972;
  box-shadow: 3px 3px 0px #000972;
  padding: 11px 10px 9px;
}
.list-drink button.active {
  background: #FF8E58;
}
.list-drink button.active .display-circle {
  background: #63FEBA;
}
.list-drink button:not(.soldout):active {
  box-shadow: none;
  transform: translate(3px, 3px);
  transition: all 0.2s;
}
.list-drink img {
  width: 40px;
  margin: 10px;
}
.list-drink .drink-amount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
  color: grey;
}
.list-drink .drink-name {
  font-weight: bold;
  font-size: 10px;
  color: #333333;
}
.list-drink .drink-price {
  display: inline-block;
  font-size: 12px;
  color: white;
  background: #000972;
  border-radius: 50px;
  padding: 5px 7px;
  margin-top: 7px;
}
.list-drink .drink-price .display-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 7px 2px 0;
  background: #FF79AC;
  border-radius: 50%;
}
.list-drink .soldout-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 251, 242, 0.8);
  border-radius: 10px;
}
.list-drink .soldout-text span {
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 20%;
  width: 55px;
  font-size: 14px;
  color: #000972;
  border: 6px double #000972;
  transform: rotate(-18deg);
}
.list-drink button.soldout {
  cursor: initial;
}
.list-drink button:not(.soldout) .soldout-text {
  display: none;
}
.list-drink .icon-question {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  text-align: center;
  padding-left: 1px;
  border-radius: 5px;
  outline: 2px solid #000972;
  top: 10px;
  right: 10px;
  background: #8854F4;
  color: white;
  font-size: 8px;
}
.list-drink .icon-question:hover {
  outline: 2px solid #8854F4;
  background: white;
  color: #000972;
}
.list-drink .icon-question:hover + .explain-question {
  display: inline-block;
}
.list-drink .explain-question {
  display: none;
  position: absolute;
  width: 130px;
  padding: 10px;
  border: 2px solid #000972;
  color: #000972;
  background: white;
  top: 30px;
  left: 10px;
  box-shadow: 3px 3px 0px #8854F4, 2px 0px 0px #FF8E58 inset, 0px 2px 0px #63FEBA inset;
}
.list-drink .explain-question strong {
  text-decoration: underline;
  color: #FF79AC;
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 11px 12px;
  padding-top: 20px;
}
.counter-wrapper * {
  font-size: 13px;
  border-radius: 5px;
}
.counter-wrapper .inserted {
  background: #63FEBA;
  color: #333333;
  padding: 5px 10px;
  font-size: 14px;
}
.counter-wrapper > button {
  color: white;
  transition: all 0.2s;
  box-shadow: 3px 3px 0px #000972;
}
.counter-wrapper > button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.counter-wrapper .btn-return {
  background: #669AFF;
}
.counter-wrapper .btn-payment {
  background: #8854F4;
}
.counter-wrapper .input-payment {
  box-shadow: inset 3px 3px 0px #000972;
  color: #000972;
  border: 1px solid #000972;
  padding: 8px 10px 7px;
}
.counter-wrapper .input-payment::-moz-placeholder {
  color: #BDBDBD;
}
.counter-wrapper .input-payment::placeholder {
  color: #BDBDBD;
}
.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid #000972;
  box-shadow: 3px 3px 0px #000972;
  border-radius: 8px;
  padding: 6px 10px 6px 8px;
}
.cart-item:not(:first-child) {
  margin-top: 6px;
}
.cart-item img {
  padding: 3px 0px;
  width: 18px;
  aspect-ratio: 18px/33px;
}
.cart-item .drink-name {
  font-size: 9px;
}
.cart-item .drink-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  background: #000972;
  color: white;
  box-sizing: border-box;
  padding-left: 1px;
  padding-top: 5px;
}

.counter-wrapper .btn-gain {
  background: #000972;
  color: white;
}

.list-currentCart {
  height: 106px;
  background: #FF79AC;
  border: 1px solid #000972;
  border-radius: 5px;
  box-shadow: 3px 3px 0px inset #000972;
  padding: 12px;
  padding-right: 8px;
  overflow-y: scroll;
}
.list-currentCart .cart-item {
  position: relative;
}
.list-currentCart .cart-item::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  border-radius: 5px;
}
.list-currentCart .btn-sub, .list-currentCart .btn-add, .list-currentCart .btn-remove {
  display: none;
  position: absolute;
  color: white;
  background: #669AFF;
  width: 20px;
  height: 20px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  box-sizing: border-box;
  z-index: 10;
  line-height: 8px;
  padding-left: 1px;
}
.list-currentCart .btn-sub {
  left: 40px;
}
.list-currentCart .btn-sub:hover {
  background: #8854F4;
}
.list-currentCart .btn-add {
  right: 40px;
}
.list-currentCart .btn-add:hover {
  background: #8854F4;
}
.list-currentCart .btn-remove {
  right: -5px;
  top: -5px;
  padding-bottom: 3px;
  background: #000972;
  color: white;
  border-color: white;
}
.list-currentCart .btn-remove:hover {
  background: #63FEBA;
}
.list-currentCart .cart-item:hover .drink-count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.list-currentCart .cart-item:hover::after {
  display: inline-block;
}
.list-currentCart .cart-item:hover .btn-sub, .list-currentCart .cart-item:hover .btn-add, .list-currentCart .cart-item:hover .btn-remove {
  display: inline-block;
}
.list-currentCart::-webkit-scrollbar {
  height: 0px;
  width: 10px;
}
.list-currentCart::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

/* ------------------------------- section: reciept */
.section-reciept {
  height: 100%;
}
.section-reciept > * {
  background: white;
}
.section-reciept .possessed {
  border: 2px solid #000972;
  box-shadow: 4px 4px 0 #000972, 0px 4px 0 inset #8854F4, 4px 0 0 inset #FF8E58;
  padding: 15px 27px;
  margin-bottom: 20px;
}
.section-reciept .possessed * {
  font-size: 14px;
}
.section-reciept .possessed p {
  color: #333333;
  background: #63FEBA;
  padding: 6px 10px;
  border-radius: 5px;
}
.section-reciept .possessed span {
  float: right;
  font-weight: 700;
}

.gain-wrapper {
  border: 2px solid #000972;
  box-shadow: 4px 4px 0 #000972, 0px 4px 0 inset #FFF780, 4px 0 0 inset #669AFF;
  padding: 25px 27px 52px;
}
.gain-wrapper h3 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 13px;
  color: #FF8E58;
}
.gain-wrapper .list-finalCart {
  background: #FF8E58;
  border: 1px solid #000972;
  border-radius: 5px;
  box-shadow: 4px 4px 0px inset #000972;
  padding: 12px;
  overflow-y: auto;
  min-height: 380px;
}
.gain-wrapper .list-finalCart::-webkit-scrollbar {
  height: 0px;
  width: 10px;
}
.gain-wrapper .list-finalCart::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.gain-wrapper .total-price {
  padding-top: 6px;
  float: right;
}
.gain-wrapper .total-price > * {
  font-size: 12px;
}

/* ------------------------------- media-mobile */
@media (max-width: 749px) {
  header {
    padding-bottom: 20px;
  }
  header h1 img {
    width: 360px;
  }
  header h2 img {
    padding-top: 20px;
    width: 300px;
  }
  header .slot-wrapper div {
    width: 27px;
    height: 27px;
  }
  main {
    flex-direction: column;
    gap: 20px;
    width: 360px;
  }
  main .section-reciept {
    padding-bottom: 69px;
  }
}
/* ------------------------------- article:modal */
.modal-wrapper {
  display: none;
  position: fixed;
  background: rgba(255, 251, 242, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
}

.modal-wrapper.on {
  display: block;
}

.article-modal {
  top: 35%;
  left: calc(50% - 150px);
  width: 300px;
  border: 3px solid #000972;
  box-shadow: 3px 3px 0px #000972;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  background: #FFF780;
}
.article-modal h2 {
  padding: 10px;
  border-top: 3px solid #63FEBA;
  border-bottom: 3px solid #8854F4;
  background: #669AFF;
  color: white;
  font-size: 15px;
}
.article-modal p {
  margin: 10px;
  padding: 10px;
  color: white;
  background: #FF79AC;
  border-bottom: 2px solid #8854F4;
  border-right: 2px solid #669AFF;
  border-top: 4px solid #000972;
  border-left: 4px solid #000972;
}
.article-modal button {
  background: #8854F4;
  border: 1px solid #000972;
  box-shadow: 2px 2px 0px #000972;
  color: white;
  padding: 8px 10px;
  width: 70px;
  border-radius: 5px;
}
.article-modal button:hover {
  background: #FF8E58;
}
.article-modal button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: all 0.2s;
}
.article-modal .btn-cancel {
  margin-right: 10px;
}

/* ------------------------------- button wrapper */
.button-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.button-wrapper .notice-playing {
  color: #000972;
  font-size: 13px;
  padding-bottom: 10px;
}
.button-wrapper button {
  background: #000972;
  color: #FFF780;
  padding: 10px;
  font-size: 15px;
  box-shadow: 3px 3px 0px #63FEBA;
  margin-right: 10px;
}
.button-wrapper button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
  transition: all 0.2s;
}
.button-wrapper span {
  font-size: 15px;
  font-weight: bold;
}
.button-wrapper .btn-pause {
  width: 50px;
}/*# sourceMappingURL=style.css.map */