/* variables */
$bg-color: #EAE8FE;
$main-color: #6327FE;
$main-dark-color: #32157b;
$text-color: #333333;
$border-color: #BDBDBD;

@import "media";

/* common */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 10px;
    box-sizing: border-box;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body, header, main, img, p, h1, h2, h3, button, ul, li {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

ul li{
    list-style: none;
}

input {
    border: none;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

body {
    background: $bg-color;
}

/* ------------------------------- header */
header {
    text-align: center;
    margin-bottom: 67px;
    img {
        max-width: 386px;
    }
}


/* ------------------------------- main */
main {
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    section {
        flex-basis: 360px;
        flex-shrink: 0;
    }
}

/* ------------------------------- section: vending */
.section-vending {
    background: white;
    padding: 31px 27px 28px;
}

.list-drink {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    button {
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        padding: 11px 12px 9px;
        overflow: hidden;
    }
    button.active {
        box-shadow: $main-color 0px 0px 0px 3px;
    }
    button:not(.soldout):hover {
        box-shadow: $main-color 0px 0px 0px 3px;
    }
    button:not(.soldout):active {
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s;
    }
    img {
        margin-bottom: 6px;
    }
    .drink-amount {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 8px;
        color: grey;
    }
    .drink-name {
        font-size: 9px;
        color: $text-color;
    }
    .drink-price {
        display: inline-block;
        font-size: 12px;
        color: white;
        background: $main-color;
        border-radius: 50px;
        padding: 3px 15px;
        margin-top: 7px;
    }
    .soldout-text {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    .soldout-text span {
        display: inline-block;
        position: absolute;
        top: 45%;
        right: 20%;
        width: 55px;
        font-size: 14px;
        color: $bg-color;
        border: 6px double $bg-color;
        transform: rotate(-18deg);
    }
    button.soldout {
        cursor: initial;;
    }
    button:not(.soldout) .soldout-text {
        display: none;
    }
}

.counter-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 11px 12px;
    padding-top: 20px;
    * {
        font-size: 13px;
        border-radius: 5px;
    }
    .inserted {
        background: $bg-color;
        padding: 5px 10px;
        font-size: 14px;
    }
    & > button {
        border: 1px solid $border-color;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    }
    & > button:hover {
        box-shadow: $main-color 0px 0px 0px 3px;
        transition: box-shadow 0.3s;
    }
    .input-payment {
        border: 1px solid $border-color;
        padding: 6px 10px 7px;
        &::placeholder {
            color: $border-color;
        }
    }
    @at-root .cart-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 6px 10px 6px 8px;
        &:not(:first-child) {
            margin-top: 6px;
        }
        img {
            width: 18px;
            aspect-ratio: 18px / 33px;
        }
        .drink-name {
            font-size: 9px;
        }
        .drink-count {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 1.4rem;
            text-align: center;
            border-radius: 5px;
            border: 1px solid $border-color;
            box-sizing: border-box;
            padding-top: 3px;
        }
    }
    .btn-gain {
        background: $main-color;
        color: white;
    }
}

.list-currentCart {
    height: 106px;
    background: $bg-color;
    border: 1px solid var(--border-color);
    padding: 12px;
    padding-right: 8px;
    overflow-y: scroll;
    .cart-item {
        position: relative;
    }
    .cart-item::after {
        content: "";
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        border-radius: 5px;
    }
    .drink-count {
        background: white;
    }
    .btn-sub, .btn-add, .btn-remove {
        display: none;
        position: absolute;
        background: white;
        width: 20px;
        height: 20px;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 5px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        z-index: 10;
        line-height: 8px;
    }
    .btn-sub {
        left: 40px;
        &:hover {
            background: $border-color;
        }
    }
    .btn-add {
        right: 40px;
        &:hover {
            background: $border-color;
        }
    }
    .btn-remove {
        right: -5px;
        top: -5px;
        padding-bottom: 3px;
        background: $main-color;
        color: white;
        border-color: white;
        &:hover {
            background: $main-dark-color;
        }
    }
    .cart-item:hover {
        .drink-count {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }
        &::after {
            display: inline-block;
        }
        .btn-sub, .btn-add, .btn-remove {
            display: inline-block;
        }
    }
    &::-webkit-scrollbar {
        height: 0px;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
        background-clip: padding-box;
        border: 3px solid transparent;
    }
}

/* ------------------------------- section: reciept */
.section-reciept {
    height: 100%;
    & > * {
        background: white;
    }
    .possessed {
        
        padding: 9px 27px;
        margin-bottom: 20px;
        * {
            font-size: 14px;
        }
        p {
            background: $bg-color;
            padding: 6px 10px;
            border-radius: 5px;
        }
        span {
            float: right;
            font-weight: 700;
        }
    }
}

.gain-wrapper {
    padding: 25px 27px 52px;
    h3 {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 13px;
    }
    .list-finalCart {
        background: $bg-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 12px;
        overflow-y: auto;
        min-height: 380px;
        &::-webkit-scrollbar {
            height: 0px;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 10px;
            background-clip: padding-box;
            border: 3px solid transparent;
        }
    }
    .total-price {
        padding-top: 6px;
        float: right;
    }
    .total-price > * {
        font-size: 12px;
    }
}

/* ------------------------------- media-mobile */
@include mobile {
    body {
        background: white;
    }
    header {
        margin-bottom: 18px;
        img {
            width: 166px;
        }
    }
    main {
        flex-direction: column;
        width: 360px;
        .gain-wrapper {
            padding-bottom: 69px;
        }
    }
}

/* ------------------------------- article:modal */
.modal-wrapper {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
}

.modal-wrapper.on {
    display: block;
}

.article-modal {
    top: 35%;
    left: calc(50% - 300px/2);
    width: 300px;
    border: 2px solid $border-color;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    background: white;
    // &::before {
    //     display: block;
    //     content: "";
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-color: #000;
    //     opacity: .7;
    //     z-index: -1;
    // }
    h2 {
        padding: 10px;
        border-bottom: 2px solid $border-color;
        background: $bg-color;
        color: grey;
        font-size: 15px;
    }

    p {
        padding: 10px;
        color: grey;
    }
    button {
        margin-top: 20px;
        background: $main-color;
        color: white;
        padding: 8px 10px;
        width: 70px;
        border-radius: 5px;
    }
    .btn-cancel {
        margin-right: 10px;
    }
}